@charset "utf-8";
@import "~bulma/bulma";

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-column-gap: 1em;
}

.navbar-section {
  padding-bottom: 0;
  padding-top: 0;

  .navbar-item:first-child {
    padding-left: 0;
  }

  .homeBtn {
    cursor: pointer;
  }
}

.page {
  display: none;
}

.page.visible {
  display: block;
}

.is-right {
  text-align: right;
}

#product {
  .avg-stars {
    font-weight: 400;
  }
  .review-stars strong {
    font-weight: 500;
  }
  .rating-star label,
  .rating-star .star.icon {
    font-size: 1.5rem;
  }
  .new-rating-form {
    .rating-star {
      .icon {
        margin: 0;
        width: 14px;
        overflow: hidden;
        display: inline-block;
        cursor: pointer;
      }
      .icon:nth-of-type(even) {
        direction: rtl;
      }
    }
    .actions {
      justify-content: center;
    }
  }
  .product-reviews {
    .review {
      margin-bottom: 1rem;

      .review-stars {
        margin-right: 0.5rem;
      }
    }
  }
}

.rating-star label,
.rating-star .star.icon {
  color: #cecece;
  margin: auto 0.075em;
}
.rating-star .icon.checked {
  color: #ffe400;
}
.rating-star .icon {
  width: auto;
}
.rating-star .leftText {
  margin-right: 0.5rem;
}
.rating-star .rightText {
  margin-left: 0.5rem;
}